## Look and Say Sequence

1, 11, 21, 1211, 111221, 312211, 13112221, 1113213211, ... 

To generate a member of the sequence from the previous member, read off the digits of the previous member, counting the number of digits in groups of the same digit. For example:

1 is read off as "one 1" or 11.

11 is read off as "two 1s" or 21.

21 is read off as "one 2, then one 1" or 1211.

1211 is read off as "one 1, one 2, then two 1s" or 111221.

111221 is read off as "three 1s, two 2s, then one 1" or 312211.

Problem: given some integer, n, determine the nth term in the "look and say" sequence

Example:
for n = 4, the 4th term in the sequence is 1211

In [1]:
def nextNumber(input_str):
    result = []
    i = 0
    
    while i < len(input_str):
        count = 1
        
        while i + 1 < len(input_str) and input_str[i] == input_str[i + 1]:
            i += 1
            count += 1
        
        result.append(str(count) + input_str[i]) 
        i += 1
        
    return ''.join(result)

In [2]:
print(nextNumber('1211'))

111221

In [3]:
n = 4

In [8]:
s = '1'
for i in range(n - 1):
    s = nextNumber(s)
    print(s)

11
21
1211

### Spreadsheet encoding

how to solve the problem of implementing a function that converts a spreadsheet column ID (i.e. "A", "B", "C", ..., "Z", "AA", etc.) to the corresponding integer.

In [16]:
def spreadsheet_encode_column(col_str):
    num = 0
    count = len(col_str) - 1
    for char in col_str:
        num += 26**count * (ord(char) - ord('A') + 1)
        count -= 1
    return num

In [17]:
print(spreadsheet_encode_column("A"))
print(spreadsheet_encode_column("AA"))
print(spreadsheet_encode_column("ZZ"))

1
27
702

In [13]:
ord('A')

65

In [14]:
ord('B')

66

In [15]:
ord('C')

67

### Palindrome

how to test whether a string is a palindrome in Python. We will be doing this using a linear amount of time and a constant amount of space.

In [18]:
# golf code solution which uses extra space proportional to size of string
input_str = "Was it a cat I saw?"
input_str = ''.join([char for char in input_str if char.isalpha()]).replace(" ", "").lower()
print(input_str ==  input_str[::-1])

True

In [19]:
def is_palindrome(input_str):
    i = 0
    j = len(input_str) - 1
    while i < j:
        while not input_str[i].isalnum() and i < j:
            i += 1
        while not input_str[j].isalnum() and i < j:
            j -= 1
        if input_str[i].lower() !=  input_str[j].lower():
            return False
        i += 1
        j -= 1
    
    return True

In [20]:
is_palindrome(input_str)

True

In [21]:
input_str = 'Hey'

In [22]:
is_palindrome(input_str)

False

### Anagrams
determining whether two strings are anagrams of each other. 

normalize strings: all lowercase, no spaces

In [30]:
input_str1 = "fairy tales"
input_str2 = "rail safety"

In [24]:
input_str1 = input_str1.replace(" ", "").lower()
input_str2 = input_str1.replace(" ", "").lower()

In [26]:
# nlogn time for the sort, so this is nice but inefficient
print(sorted(input_str1) == sorted(input_str2))

True

In [31]:
def isAnagram(input_str1, input_str2):
    if len(input_str1) != len(input_str2):
        return False
    ana_dict = {}
    
    for char in input_str1:
        if char in ana_dict:
            ana_dict[char] += 1
        else:
            ana_dict[char] = 1
    
    for char in input_str2:
        if char in ana_dict:
            ana_dict[char] -= 1
        else:
            ana_dict[char] = 1
    
    for key in ana_dict:
        if ana_dict[key] != 0:
            return False
    
    return True

In [32]:
isAnagram(input_str1, input_str2)

True

In [33]:
input_str1 = 'Hey'
input_str2 = 'Yo'

In [34]:
isAnagram(input_str1, input_str2)

False

### String Processing in Python: Integer to String
You are given some integer as input, (i.e. ... -3, -2, -1, 0, 1, 2, 3 ...)
Convert the integer you are given to a string. Do not make use
of the built-in "str" function.

Examples:
    
    Input: 123
    Output: "123"
    Input: -123
    Output: "-123"

In [36]:
print(123)
str(123)

123

'123'

In [37]:
123 % 10

3

In [40]:
123333 % 10

3

In [38]:
245346467447 % 10

7

In [41]:
123 % 10

3

In [42]:
12 % 10

2

In [43]:
1 % 10

1

In [44]:
123 // 10

12

In [45]:
ord('a')

97

In [47]:
ord('0')

48

In [48]:
ord('1')

49

In [49]:
ord('2')

50

In [50]:
ord('3')

51

In [46]:
chr(97)

'a'

In [51]:
chr(ord('0'))

'0'

In [52]:
ord('0')

48

In [53]:
ord('0') + 1

49

In [55]:
chr(ord('0') + 1)

'1'

In [56]:
chr(ord('0') + 2)

'2'

In [57]:
chr(ord('0') + 3)

'3'

In [58]:
chr(ord('0') + 10)

':'

In [59]:
def intToStr(input_int):
    if input_int < 0:
        is_negative = True
        input_int *= -1
    else:
        is_negative = False
    
    output_str = []
    while input_int > 0:
        output_str.append(chr(ord('0') + input_int % 10))
        input_int //= 10
        
    output_str = output_str[::-1]
    output_str = ''.join(output_str)
    
    if is_negative:
        return '-' + output_str
    else:
        return output_str

In [63]:
print(type(intToStr(-123)))
intToStr(-123)

<class 'str'>

'-123'

In [64]:
print(type(intToStr(123)))
intToStr(123)

<class 'str'>

'123'

### String to Integer

You are given some numeric string as input. Convert the string you are given to an integer. Do not make use of the built-in "int" function.

Example:

    "123" : 123
    "-12332" : -12332
    "554" : 554
    etc.

In [65]:
some_str = '123'
int(some_str)

123

In [66]:
10**2 * 1 + 10**1 * 2 + 10**0 * 3

123

In [67]:
100 + 20 + 3

123

exponent is a function of string length

In [74]:
def strToInt(input_str):
    output_int = 0
    
    if input_str[0] == '-':
        start_idx = 1
        is_negative = True
    else:
        start_idx = 0
        is_negative = False
    
    for i in range(start_idx, len(input_str)):
        #+1 for python indexing
        place = 10**(len(input_str) - (i+1))
        #print(place)
        digit = ord(input_str[i]) - ord('0')
        #print(digit)
        output_int += place * digit
    
    if is_negative:
        return output_int *-1
    else: 
        return output_int

In [75]:
strToInt('123')

123

In [76]:
strToInt('-123')

-123